.hidden{
  display: none;
}

#circleG{
  width:52px;
  margin:auto;
}

.circleG{
  background-color:rgba(255,255,255,0.75);
  float:left;
  height:11px;
  margin-left:6px;
  width:11px;
  animation-name:bounce_circleG;
    -o-animation-name:bounce_circleG;
    -ms-animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
  animation-duration:2.54s;
    -o-animation-duration:2.54s;
    -ms-animation-duration:2.54s;
    -webkit-animation-duration:2.54s;
    -moz-animation-duration:2.54s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  border-radius:7px;
    -o-border-radius:7px;
    -ms-border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

#circleG_1{
  animation-delay:0.51s;
    -o-animation-delay:0.51s;
    -ms-animation-delay:0.51s;
    -webkit-animation-delay:0.51s;
    -moz-animation-delay:0.51s;
}

#circleG_2{
  animation-delay:1.18s;
    -o-animation-delay:1.18s;
    -ms-animation-delay:1.18s;
    -webkit-animation-delay:1.18s;
    -moz-animation-delay:1.18s;
}

#circleG_3{
  animation-delay:1.52s;
    -o-animation-delay:1.52s;
    -ms-animation-delay:1.52s;
    -webkit-animation-delay:1.52s;
    -moz-animation-delay:1.52s;
}



@keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(0,0,0);
  }

  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(0,0,0);
  }

  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(0,0,0);
  }

  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(0,0,0);
  }

  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(0,0,0);
  }

  100%{}
}