{% extends "layout.html" %}
{% block content %}
<div class="col-lg-5" padding-left:50px >
<form action="/csvupload" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label name="csv"> Upload CSV file here</label><br />
        <p>Use a CSV with header rows named: Title, Authors, Journal, Year, Pages, Volume, Issue, DOI, Image.</p>
            <p>Save the CSV in Excel as a Windows-Formatted CSV. <br>
            Open the CSV in Sublime Text and Save with Encoding UTF-8</p>
        <!-- <p>
            <button type="submit" value="langsubmit" name="submit" class="btn btn-default load">Submit</button>
        </p> -->
        <p>
            <input type="file" name="file" />
          <button type="submit" class="btn btn-default">  <input type="submit" /></button>
        </p>
    </div>
</form>
</div>

{% endblock %}
