{% extends "layout.html" %}
{% block content %}
<div class="col-lg-12" padding-left:50px >
<form action="/submit-form" method="POST" role="form" class="form-horizontal">
    <div class="form-group">
        <label name="dois"> Paste DOIs to get highlights HTML:</label><br />
        <textarea class="form-control" rows="10" cols="10" name="text"></textarea>
        <p>

            <button type="submit" value="submit" id="load" name="tester" class="btn btn-default">Submit</button>
        </p>
        <img class="loading-dots" src="static/img/loadingdots.gif">

    </div>
</div>
</form>
</div>



{% endblock %}
