{% extends "layout.html" %} {% block content %}

<div id="container-fluid">
    <div class="title">
        <h1>Virtual Issue</h1>
        <h5>Copy and paste this HTML into the Virtual Issue.</h5>
    </div>


    <div id="container-fluid">
        <textarea class="form-control" rows="10" cols="10" name="text">
    {% for article in results %}
    <div class="sideBox leftSide w125 padBox">
        <a href="{{ article['article-link'] }}"><img src="{{ article['Image']}}" /></a>
    </div>
    <p><a href="{{ article['article-link'] }}"><strong>{{ article['Title'] }}</strong></a><br />
    {{ article['Authors']}}<br />
    {% if article['Year'] == '' %}<cite>{{ article['Journal'] }}</cite>, Article ASAP<br>
    {% else %}<cite>{{ article['Journal'] }}</cite>, <strong>{{ article['Year'] }}</strong>, <em>{{ article['Volume'] }}</em> {{ article['Issue-info']}}<br>
    {% endif %}
    <strong>DOI: </strong> {{ article['DOI'] }}</p>
    <br class="clearBoth" />

    {% endfor %}


</textarea>
    </div>

    <h4>Preview</h4>
    <div class="col-sm-8">
        {% for article in results %}
        <div class="sideBox leftSide w125 padBox" style="float: left; padding: 20px;">
            <a href="/doi/abs/{{ article['DOI'] }}"><img style="width: 125px;"src="{{ article['toc_href']}}" /></a>
        </div>

        <div class="vi-article" style="float:left; width:500px;"><a href="/doi/abs/{{ article['DOI'] }}"><strong>{{ article['Title'] }}</strong></a><br /> {{ article['Authors']}}<br /> {% if article['Year'] == '' %}<cite>{{ article['Journal'] }}</cite>, Article ASAP<br> {% else %}<cite>{{ article['Journal'] }}</cite>,
            <strong>{{ article['Year'] }}</strong>, <em>{{ article['Volume'] }}</em> {{ article['Issue-info']}}<br> {% endif %}
            <strong>DOI: </strong> {{ article['DOI'] }}</p>

        </div>
        <br class="clearBoth" style="clear:both;"/>
         {% endfor %}

    </div>
    {% endblock %}
