{% extends "layout.html" %} {% block content %}

<div id="container-fluid">
    <div class="title">
        <h1>Virtual Issue</h1>
        <h5>Copy and paste this HTML into the Virtual Issue.</h5>
    </div>
<div class="col-xs-3">

    <a href="{{ url_for('static', filename = 'img/virtualissue/' + results[0]['Coden'] +'/' + results[0]['Datecode'] +'/' + results[0]['Datecode'] + '.zip') }}">
        <button type="button" class="btn btn-primary btn-sm btn-block" style="margin: 10px;">Download ZIP file of all images</button>
    </a>

</div>

<div id="container-fluid">
<textarea class="form-control" rows="10" cols="10" name="text">
    {% for row in table.rows %}
    <div class="sideBox leftSide w125 padBox">
        <a href="/doi/abs/{{ row['DOI'] }}"><img src="{{ row['Image']}}" /></a>
    </div>
    <p><a href="/doi/abs/{{ row['DOI'] }}"><strong>{{ row['Title'] }}</strong></a>
        <br /> {{ row['Authors']}}
        <br />
        {% if row['Year'] == '' %}
        <cite>{{ row['Journal'] }}</cite>, Article ASAP
        {% else %}
        <cite>{{ row['Journal'] }}</cite>, <strong>{{ row['Year'] }}</strong>, <em>{{ row['Volume'] }}</em> {{ row['Issue-info']}}
        {% endif %}
        <br><strong>DOI: </strong> {{ row['DOI'] }}</p>
    <br class="clearBoth" />

    {% endfor %}

</textarea>
</div>

<h4>Preview</h4>


{% for row in table.rows %}
<div class="sideBox leftSide w125 padBox">
    <a href="/doi/abs/{{ row['DOI'] }}"><img width="120"src="{{ row['toc_href']}}" /></a>
</div>
<p><a href="/doi/abs/{{ row['DOI'] }}"><strong>{{ row['Title'] }}</strong></a>
    <br /> {{ row['Authors']}}
    <br />

    {% if row['Year'] == '' %}
    <cite>{{ row['Journal'] }}</cite>, Article ASAP
    {% else %}
    <cite>{{ row['Journal'] }}</cite>, <strong>{{ row['Year'] }}</strong>, <em>{{ row['Volume'] }}</em> {{ row['Issue-info']}}

    {% endif %}
    <br><strong>DOI: </strong> {{ row['DOI'] }}</p>
<br class="clearBoth" />

{% endfor %}


{% endblock %}
