{% extends "layout.html" %}
{% block content %}

<h2>Articles</h2>
{% for row in table.rows %}
<div class="sideBox leftSide w125 padBox">
    <a href="/doi/abs/{{ row['DOI'] }}"><img src="{{ row['Image']}}" /></a>
</div>
<p><a href="/doi/abs/{{ row['DOI'] }}"><strong>{{ row['Title'] }}</strong></a>
    <br /> {{ row['Authors']}}
    <br />
    <cite>{{ row['Journal'] }}</cite>, <strong>{{ row['Year'] }}</strong>, <em>{{ row['Volume'] }}</em> ({{ row['Issue'] }}), pp {{ row['Pages'] }} <strong>DOI:</strong> {{ row['DOI'] }}</p>
<br class="clearBoth" />
{% endfor %}
</textarea>

<a href="/">Home</a>
{% endblock %}